<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
    <h1>
        The movie list includes :
    </h1>



    <br>
    <hr>

    <table>
        <tr>
            <th style="color: indigo">
                Movie
            </th>
            <th style="color: indigo">
                Duration
            </th>
            <th style="color: indigo">
                Comments
            </th>
        </tr>

        {% for name,duration in movie_dict.items() %}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{duration}}
            </td>



            <td>
                {% if duration < 2 %}

                short
                {% elif duration > 2 and duration < 4 %}

                medium

                {% else %}

                long
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</body>

</html>